body {
  background-color: black;
}

.main {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 350px;
  margin-right: 300px;
  width: 700px;
}

h1 {
  text-align: center;
  color: whitesmoke;
  font-family: "Roboto Mono", monospace;
  font-size: 50px;
}

h2,
h3,
h4 {
  text-align: center;
  color: whitesmoke;
  font-family: "Roboto Mono", monospace;
}

.contact {
  margin-top: 300px;
  text-align: center;
  color: whitesmoke;
  font-family: "Roboto Mono", monospace;
}

p {
  text-align: center;
  color: whitesmoke;
  font-family: "Roboto Mono", monospace;
}

.link-picture {
  filter: brightness(0) invert(1);
  margin-left: 42%;
  margin-right: 50%;
  width: 110px;
  height: 110px;
  object-fit: contain;
  object-position: center;
}

.link-picture-2 {
  filter: brightness(0) invert(1);
  margin-left: 42%;
  margin-right: 50%;
  width: 110px;
  height: 110px;
  object-fit: contain;
  object-position: center;
}

.email {
  color: whitesmoke;
}
